.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f0eded;
  padding: 10px 20px;
  color: white;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00bcd4;
}

/* Menu icon for mobile */
.menu-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #333;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 10px 0;
  }

  .nav-links.open {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}
.logo2
{
  height: auto;
  width: 40px;
}

